extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janeiro 
        em Aventura 

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo veritatis consectetur aperiam quisquam! Quaerat impedit laborum voluptatem odit labore corrupti maxime aspernatur aliquam autem molestias maiores tempora, cupiditate quasi nostrum. 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta dignissimos corrupti accusamus non esse, autem eum libero nam vero reiciendis quisquam magnam quo voluptatum excepturi molestias animi ipsam quibusdam nobis!
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg",alt="",class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022 
                        p.precio $2,500 UD 

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales