extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg",alt="Imagen",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quod sit voluptate reprehenderit commodi modi labore cum enim ratione temporibus, neque earum minus. Quam, iste laboriosam. Molestias quis libero molestiae?
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum quaerat quam excepturi vero dolore assumenda, a cum, ad reiciendis perferendis? Pariatur iste praesentium est culpa ipsum at, dolores sunt.
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, deserunt! Eius sit doloremque commodi corporis nam obcaecati amet nihil iste aut vel, tempore magni dicta, modi consequatur, dolor recusandae excepturi?

        .listado-iconos
            .container.mt-5.py-5-text-center 
                .row 
                    .col-md-4 
                        img(src="img/icono_seguridad.svg",alt="seguridad",class="img-fluid mb-4")
                        h2.mb-4 Seguridad 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat, ea itaque ab porro saepe nihil consequuntur iste soluta quas explicabo obcaecati magni cum? Explicabo incidunt hic iste ipsa deserunt.

                    .col-md-4 
                        img(src="img/icono_destinos.svg",alt="seguridad",class="img-fluid mb-4")
                        h2.mb-4 Mejores Destinos 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat, ea itaque ab porro saepe nihil consequuntur iste soluta quas explicabo obcaecati magni cum? Explicabo incidunt hic iste ipsa deserunt.

                    .col-md-4 
                        img(src="img/icono_precios.svg",alt="seguridad",class="img-fluid mb-4")
                        h2.mb-4 Mejores Precios 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, placeat, ea itaque ab porro saepe nihil consequuntur iste soluta quas explicabo obcaecati magni cum? Explicabo incidunt hic iste ipsa deserunt.




